// COLORS //
$color-white: #fff;
$color-black: #000;
$color-background: #004a99;
$color-light-blue: #0080ff;
$color-solutions:  #66b3ff;
$services-background-color: #e6eeff;
$analytics-icon:  #cc0099;
$bookmark-color:  #e6b800;
$paper-color:  #00cccc;
$speedometer-color:  #33cc33;
$global-color:  #e6e600;
$clock-color:  #8e8eb1;
$why-us-background-color:  #002db3;


//HEADERS STYLES//
$title-header-size: 40px;
$title-padding: 20px;
$title-opacity: 0.8;
$why-us-header-title: 35px;